@using PlineFaxServer.Tools
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery _xsrf
@functions {
    #nullable disable
    private string GetAntiXsrfRequestToken()
    {
        return _xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}

<h3>Domains</h3>
<hr />
<p>
    <a asp-action="Create" class="btn btn-primary">Create New Domain</a>
</p>
<br />
@Html.AjaxGrid("Domain/Index")

<script type="text/javascript">
    function DeleteItem(id) {
        if (confirm("Are you sure you want to delete this item?")) {
            $.post("@Url.Action("Delete","Domain")", {
                __RequestVerificationToken: "@GetAntiXsrfRequestToken()",
                id: id
            }, function (data) {
                if (data.result == 0) {
                    showMyToast("@Globals.ToastError", "Error deleting information!");
                } else {
                    location.reload();
                }
            }, "JSON").fail(function (err) {
                showMyToast("@Globals.ToastError", "Error in item removal operation");
            });
        }
    }
</script>